*{
    margin: 0;
    padding: 0;
    outline: 0;
}
html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
nav{
    /* background-color: aqua; */
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 30px;
    padding-top: 20px;
   
   
}
ul{
    display: flex;
    gap: 30px;
    list-style: none;
    margin-left: 200px;
    color: aliceblue;
}
li:hover{
    background-color: rgb(23, 148, 170);
    padding: 5px;
    color: aliceblue;
    border-radius: 5px;
}
 nav button {
   background-color: rgb(145, 158, 158);
   border-color: aliceblue;
}
/* ----------------hero section------------------ */
.hero-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.hero-left img{
    width: 25rem;
    margin-top: 50px;
    margin-left: 90px;

}
.hero-right{
    margin-top: 80px;
    width: 40vw;
   
}
.hero-right h1{
    font-size: 59px;
    color: aliceblue;
}
.hero-right p{
    font-size: 25px;
    color: rgb(184, 185, 187);
}
form{
    background-color: rgb(251, 255, 255);
    margin-top: 20px;
    border-radius: 15px;
    width: 370px;
    height: 8vh;
}
input{
    padding: 10px;
    border: hidden;
    margin-left: 10px;
}
 button{
    padding: 15px 40px;
    background-color: rgb(75, 189, 122);
    color: aliceblue;
    border: hidden;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 4px;
}
.section-1{
    background-color: rgb(128, 140, 145);
    height: 100vh;
}
/* video section=================== */
.section-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}
.num{
    display: flex;
    margin-top: 30px;
    gap: 200px;
    text-align: center;
}
.num h3{
    font-size: 30px;
}
.section-2 img{
    width: 80vw;
    margin-top: 50px;
}
/* -------------------------------center info section------------------------ */

.section-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.section-3 h1{
    font-size: 50px;
}
.info-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
}


.info-1 img{
    width: 400px;
    margin-left: 0px;
}
.info-right{
    margin-left: 100px;
    margin-top: 100px;
}
.info-right h2{
    /* margin-top: 200px; */
    width: 500px;
    font-size: 40px;
   
}
.info-right p{
    width: 400px;
    margin-top: 30px;
    font-size: 30px;
    
}
.info-right button{
    margin-top: 50px;
}
/* -------------left info ------------------------*/
.info-left{
    margin-left: 100px;
    margin-top: 100px;
}
.info-left h2{
    /* margin-top: 200px; */
    width: 500px;
    font-size: 40px;
   
}
.info-left p{
    width: 400px;
    margin-top: 30px;
    font-size: 30px;
    
}
.info-left button{
    margin-top: 50px;
}
/* --------------------------------------bottom--------------------------------- */
.section-4{
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}


.cards img{
    width: 250px;
    height: 250px;
}
.h-text{
    display: flex;
}
.h-text h1{
    color: rgb(11, 12, 12);
    width: 20vw;
    font-size: 40px;
}
.h-text p{
    width: 35vw;
    font-size: 20px;
    margin-left: 400px;
}
.hero-sec{
    display: flex;
   gap: 150px;
    width: 500px;
    justify-content: space-between;
   
}
.cards{
    margin-top: 40px;
    /* background-color: aquamarine; */
    margin-left: 10px;
    
    
}
.section-4 button{
   margin-top: 20px;
   margin-left: 500px;
}
/* ----------------------------footer------------------------------ */
footer{
   background-color: rgb(18, 22, 20);
   padding: 20px 20px;
   height: 50vh;
   margin-top: 40px;
}

.logo-footer{
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
}
.menu-footer{
    display: flex;
    justify-content: space-around;

}
.menu{
    margin-top: 10px;
    /* background-color: blueviolet; */
    margin-left: 20px;
    line-height: 35px;
}
.menu h2{
    color: aliceblue;
}
h4{
    color: rgb(148, 149, 150);
}
.icon2 img {
    background-color: rgb(25, 179, 179);
   
    padding: 10px 10px;
    border-radius:10px;
    margin-left: 30px;
    /* gap: 10px; */
}

/* =========================== media query============================== */

@media screen and (max-width: 768px) {
    ul{
        /* width: 50px; */
        font-size: 15px;
        margin-left: 10px;
    }
    .hero-left img{
        width: 15rem;
        
    
    }
    .hero-right h1{
        font-size: 29px;
        
    }
    .hero-right p{
        font-size: 15px;
        
    }
    form{
        width: 300px;
        height: 8vh;
    }
   
     button{
        padding: 10px 20px; 
    }
   .num{
    gap: 40px;
   }
   .section-3 h1{
    /* color: aqua; */
    font-size: 40px;
   }
   .info-1{
    display: grid;
    grid-template-columns: 1fr;
   }
    .h-text{
        flex-direction: column;

    }
    .h-text h1{
        width: 400px;
        margin-left: 100px;
    }
    .h-text p{
        width: 400px;
        margin-top: 10px;
        margin-left: 100px;
    }
    .hero-sec{
        /* color: aqua; */
        display: flex;
        flex-direction:column;
        margin-left: 100px;
    }
    .cards p{
        width: 300px;
    }
    /* ----------------footer----------- */
    footer{
        height: 70vh;
    }
    .menu h2{
        font-size: 20px;
    }
    h4{
        font-size: 10px;
    }
}
@media screen and (max-width:692px) {
    ul{
        /* width: 50px; */
        font-size: 15px;
        margin-left: 10px;
    }
    .hero-left img{
        width: 15rem;
        
    
    }
    .hero-right h1{
        font-size: 29px;
        
    }
    .hero-right p{
        font-size: 15px;
        
    }
    form{
        width: 300px;
        height: 8vh;
    }
   
     button{
        padding: 10px 20px; 
    }
   .num{
    gap: 40px;
   }
   .section-3 h1{
    /* color: aqua; */
    font-size: 40px;
   }
   .info-1{
    display: grid;
    grid-template-columns: 1fr;
   }
    .h-text{
        flex-direction: column;

    }
    .h-text h1{
        width: 400px;
        margin-left: 100px;
    }
    .h-text p{
        width: 400px;
        margin-top: 10px;
        margin-left: 100px;
    }
    .hero-sec{
        /* color: aqua; */
        display: flex;
        flex-direction:column;
        margin-left: 100px;
    }
    .cards p{
        width: 300px;
    }
    /* ----------------footer----------- */
    footer{
        height: 70vh;
    }
    .menu h2{
        font-size: 20px;
    }
    h4{
        font-size: 10px;
    }
    
}
